{
  "refName": "HBASE",
  "serviceType": "HBASE",
  "serviceConfigs": [],
  "roleConfigGroups": [
    {
      "refName": "HBASE-1-MASTER-BASE",
      "roleType": "MASTER",
      "base": true
    }, {
      "refName": "HBASE-1-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "configs": [],
      "base": true
    }, {
      "refName": "HBASE-1-HBASETHRIFTSERVER-BASE",
      "roleType": "HBASETHRIFTSERVER",
      "configs": [],
      "base": true
    }, {
      "refName": "HBASE-1-REGIONSERVER-BASE",
      "roleType": "REGIONSERVER",
      "configs": [],
      "base": true
    }
  ]
}
